<template name='home'>
	{{> navbar}}
	<div class="row">
		<div class="col-md-5">
			<h2>Create one-time calendar</h2>
			<button class="btn btn-default">Upload File</button>
		</div>
		<div class="col-md-2" id="or">
			<h2>OR</h2>
		</div>
		<div class="col-md-5">
			<h2>Log in to see saved calendar</h2>
			<button class="btn btn-default">Log In</button>
			<button class="btn btn-default">Create New Account</button>
		</div>
	</div>
	<div class="row">
		<img id="NUimage" src="http://cdn2.sbnation.com/imported_assets/1166565/northwestern_logo.jpg">
	</div>
</template>